* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(34, 32, 72);
}
.container {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #fff;
    margin-top: 25px;
    border-radius: 10px;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h3 {
    font-weight: 600;
    padding: 15px;
    color: #555;
}
.google {
    width: 300px;
    display: flex;
    background-color: #4573b8;
    margin: auto;
    color: #fff;
    border-radius: 5px !important;
}
#or-email {

    width: 300px; 
    text-align: center; 
    border-bottom: 1px solid #777; 
    line-height: 0.1em;
    margin: 35px auto; 
}
#or-email span{
    background:#fff; 
    padding:0 10px; 
    color: #777; 
    text-transform: uppercase;
    font-size: 12px;
}
.google img {
    width: 50px;
    height: 50px;
    background-color: #fff;
    padding: 5px;
    background-color: #4573b8;
    border-radius: 8px;
    
}
#google-sign {
    font-size: 14px;
    padding: 15px 10px 10px 55px;
    text-align: center;
    
    
}
.container span {
    padding: 20px;
    
}
form {
    display: flex;
    flex-direction: column;
    margin: auto;
    color: #555;
    font-size: 14px;
    
}
.full-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: 300px;
    padding: 10px 0px;
}
.email {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    width: auto;
    padding: 10px 0px;
    padding-bottom: 30px;
}

input{
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    border: 0.5px solid #ddd;

}
::placeholder{
    color: #ddd;
}
button {
    padding: 15px 0;
    border: none;
    background-color: #d73d5a;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
}

.account {
    color: #555;
    display: flex;
    margin: auto;  
    font-size: 12px; 
    padding-bottom: 20px;
}
.account a {
    text-decoration: none;
}